body {
	margin:0;
	padding:0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.catalog-body {
  line-height: 21px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none;
}

.header {
	max-width: 1200px;

	position: relative;
	display: flex;
}

.header-logo {
	position: absolute;
	z-index: 1;

	left: 530px;
}

.header-nav {
	width: 1200px;
	min-height: 55px;

	font-weight: 700;
	line-height: 26px;
}

.header-nav-list {
	margin:0;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 18px;

	display: flex;

	list-style: none;
}

.header-nav-item {
	width: 240px;
}

.header li:nth-child(1) {
	margin-left: 73px;
}

.header li:nth-child(2) {
	margin-right: 48px;
}

.header li:nth-child(3) {
	text-align: end;

	margin-left: 48px;
}

.header li:nth-child(4) {
	text-align: end;

	margin-right: 73px;
}

.header-nav a {
	color: #000000;
}

.container {
	max-width: 1200px;
	margin: 0 auto;

	box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
	background-color: #ffffff;
}

.img-background {
	position: relative;
}

.img-welcome {
	position: absolute;

	left:50%;
	margin-left: -230px;
	top:132px;
}

.info-wrapper {
	margin: 0 auto;

	width: 570px;

	text-align: center;
}

.info-wrapper h1 {
	font-size: 21px;
	font-weight: 700;
}

.info-wrapper p,
.recommended-content p,
.reason.list p{
	color: #333333;
}

.reason {
	display: flex;

	color: #ffffff;
}

.reason.first {
		margin-top: 55px;
}

.reason-content {
	text-align: center;

	padding-top: 45px;

	width: 400px;

	background-color: #81b3d2;

}

.reason-content h2 {
	padding-left: 125px;
	padding-right: 124px;
}

.reason-content p,
.recommended-content p {
	padding-left: 55px;
	padding-right: 55px;
}

.reason-img {
	line-height: 0;
	font-size: 0;
}

.recommended {
	display: flex;

	margin-top: 57px;
}

.recommended-content {
	text-align: center;

	width: 400px;
}



.reason.second {
	flex-direction: row-reverse;

	margin-top:85px;
}

.reason h2,
.recommended-content h2 {
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}

.reason-list {
	display: flex;

	color: #000000;
}

.reason-list p {
	padding-left: 70px;
	padding-right: 70px;
}

.reason-content-item:nth-child(2) p{
	padding-left: 60px;
	padding-right: 60px;
} 

.reason-content-item {
	text-align:center;
	padding-top:45px;
	padding-bottom: 65px;

	width:400px;

	background-color: #eeeeee;
}

.reason-content-item h2 {
	padding-left: 130px;
	padding-right: 130px;
}

.search-hotel {
	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}

.search-hotel h3{
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.search-hotel p {
	color: #333333;

  line-height: 24px;
}

.search-hotel a {
	font-size: 21px;
	font-weight: 700;

	color: #ffffff;
}

.search-hotel-btn {
	position:relative;

	margin: 0 auto;
	margin-top:50px;

	box-sizing: border-box;

	max-width: 570px;
	padding-left: 140px;
	padding-right: 140px;
	padding-top: 34px;
	padding-bottom: 34px;

	background-color: #766357;
}

.chose-date {
	font: inherit;
	text-transform: uppercase;

	box-sizing: border-box;

	width: 345px;

	margin:0;
	padding:0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;

	background-color: #f2f2f2;

	border:0 none;

}

.chose-wrapper {
	display: flex;
}

.calendar-btn {
	position: absolute;

	width:30px;
	height: 38px;

	border: 0 none;
	
	top:0;
	bottom:0;
	right:0;
	margin:0;
	padding: 0;

	background-color: #f2f2f2;

	cursor: pointer;
}

.chose-wrapper:nth-child(1) {
	margin-top: 55px;
}

.chose-wrapper:nth-child(2) {
	margin-top: 29px;
}

.search-hotel-popup {
	max-width: 570px;

	margin: 0 auto;

	font-weight: 700;
}

.search-hotel-popup form {
	position: absolute;
	left:0;
	right:0;

	text-align: start;

	display: flex;
	padding-left: 55px;
	padding-right: 55px;
	margin-top: 34px;

	background-color: #ffffff;

	flex-direction: column;
}

.search-hotel-popup input {
	font-weight: 700;
}

.chose-date-wrapper {
	position: relative;
}

.search-hotel-popup label {
	width:115px;
}

.increase {
	border:0 none;
	
	width:38px;
	height: 38px;

	position: absolute;

	left:0;
	top:0;
	bottom:0;

	background-color: #f2f2f2;

	cursor: pointer;

}

.decrease {
	border:0 none;
	
	width:38px;
	height: 38px;

	position: absolute;

	right:0;
	top:0;
	bottom:0;

	background-color: #f2f2f2;

	cursor: pointer;
}

.chose-people-wrapper {
	margin-top: 30px;

	display: flex;
}

.chose-number-wrapper {
	display: flex;

	position: relative;
}

.chose-number-wrapper input {
	padding-top: 14px;
	padding-bottom: 14px;

	box-sizing: border-box;

	height: 38px;
}

.chose-number {
	text-align: center;

	margin:0;
	padding:0;

	border: 0 none;

	background-color: #f2f2f2;
	max-width: 115px;
}
.search-btn {
	background-color: #81b3d2;

	border: 0 none;
	
	margin-top: 55px;
	margin-bottom: 55px;
	padding-top: 20px;
	padding-bottom: 20px;

	font-size: 21px;
	text-transform: uppercase;

	color:#ffffff;
}

.chose-people-wrapper label:nth-of-type(2) {
	box-sizing: border-box;
	text-align: end;

	padding-right: 25px;
}

.footer {
	display: flex;
	align-items: center;

	padding:36px 72px 36px 72px;
}

.copyright {
	width: 328px;

	display: flex;
	box-sizing: border-box;
	align-items: center;

	padding-left: 100px;
}

.copyright span {
	padding-right: 6px;
}
.hashtag-wrapper {
	box-sizing: border-box;
	padding-left: 60px;

	width:328px;
}

.hashtag {
	font-size: 21px;
	font-weight: 700;

	color: #000000;
}

.social-btn-list {
	width:400px;

	margin:0;
	padding:0;

	display: flex;
	justify-content: center;

	list-style: none;
}

.social-btn-item {
	margin-left: 6px;

	background-color: #81b3d2;
}

.social-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 46px;
	height: 50px;
}
/* Стилизация каталога */

.filters {
	background-image: url(../img/filter-Background-full.jpg);
	background-size: 100% auto;
	background-position: center;
}

.filter {
	display: flex;

	padding-top: 28px;

}

.filter fieldset {
	border: 0 none;

	margin:0;
	padding:0;
}

.filter-wrapper.first {
	padding-left: 73px;

	width: 240px;
}

.filter-wrapper.second {
	width: 240px;
}

.filter legend {
	font-size: 16px;
	font-weight: 700;

	color: #ffffff;
}

.filter ul {
	list-style: none;
}

.filter-option label {
	color: white;
}

.show-btn {
	color: white;
}

.sort-wrapper {
	display: flex;

	padding-left: 73px;
	padding-right: 73px;
}

.catalog h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.catalog-sorting,
.sort-btn {
	font-size: 12px;
	line-height: 18px;
}

.sort-btn-list {
	margin:0;
	padding:0;

	display: flex;

	list-style: none;
}

.sort-btn {
	color: #e1e1e1;

	border-bottom: 1px dotted #e2edf4;
}

.sort-btn.active{
	color: #81b3d2;

	border-bottom: none;
}

.sort-triangle-list {
	list-style: none;
}

.catalog {
		padding-left: 73px;
	  padding-right: 73px;
}

.catalog-list {
	margin:0;
	padding:0;

	list-style: none;
}

.catalog-item {
	padding-top: 30px;
	padding-bottom: 30px;
}

.catalog-list article {
	display: flex;
}

.catalog-list h1 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.catalog-item-name {
	color: #000000;
}

.catalog-item-info span {
	color: #333333;
}

.detail-btn,
.reserve-btn {
	font-weight: 700;

	color: #ffffff;

	padding-right: 18px;
	padding-left: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.detail-btn {
	background-color: #81b3d2;
}

.reserve-btn {
	background-color: #766357;

}

.catalog-item-raiting {
	margin-left: auto;
}

.catalog-item-raiting span {
	color: #666666;
}