body {
	margin:0;
	padding:0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.catalog-body {
	line-height: 21px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;

	box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
	background-color: #ffffff;
}

.header {
	max-width: 1200px;

	position: relative;
	display: flex;

	background-color: #ffffff;

	z-index:1;
}

.header-logo {
	position: absolute;
	z-index: 1;

	left: 530px;
}

.header-nav {
	width: 1200px;
	min-height: 55px;

	font-weight: 700;
	line-height: 26px;
}

.header-nav-list {
	margin:0;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 12px;

	display: flex;

	list-style: none;
}

.header-nav-item {
	width: 240px;
}

.header-nav-phrase.active {
	color: #766357;
}

.header-nav-phrase:hover {
	color: #81b3d2;
}

.header-nav-phrase:active {
	color: #b2b2b2;
}

.header li:nth-child(1) {
	margin-left: 73px;
}

.header li:nth-child(2) {
	margin-right: 48px;
}

.header li:nth-child(3) {
	text-align: end;

	margin-left: 48px;
}

.header li:nth-child(4) {
	text-align: end;

	margin-right: 73px;
}

.header-nav a {
	color: #000000;
}

.img-background-mask {
	bottom: 0;
	position: absolute;

	z-index: 1;
}

.img-background-wrapper {
		position: relative;

		min-height: 508px;
}

.img-background-wrapper::after {
	  content: "";
	  position: absolute;

    bottom: .5px;

    background: url(../img/polygon.svg) no-repeat center bottom;

    z-index: 1;

    height: 58px;
    width: 1200px;
}

.img-background {
	position: absolute;

	transform: translateY(-28.5%);

	z-index:1;

	top:225px;

	padding-bottom: 57px;
}

.img-welcome {
	position: absolute;

	left:50%;
	margin-left: -230px;
	top:74px;

	z-index: 1;
}

.info-wrapper {
	margin: 0 auto;
	padding-top: 60px;

	width: 570px;

	text-align: center;
}

.info-wrapper-about {
	position: relative;
	
	background-color: #ffffff;

	z-index: 1;

	padding-bottom: 45px;
}

.info-wrapper h1 {
	margin:0;
	margin-bottom: 35px;

	font-size: 21px;
	font-weight: 700;
}

.info-wrapper p {
	margin:0;
}

.info-wrapper p,
.recommended-wrapper p,
.reason.list p{
	color: #333333;
}

.reason {
	display: flex;

	color: #ffffff;
}

.reason-content {
	text-align: center;

	padding-top: 30px;

	width: 400px;

	background-color: #81b3d2;

	padding-left: 49px;
	padding-right: 49px;

}

.reason-content h2 {
	padding-left: 75px;
	padding-right: 76px;
}

.recommended-wrapper p {
	padding-left: 55px;
	padding-right: 55px;
}

.reason-img {
	line-height: 0;
	font-size: 0;
}

.recommended {
	display: flex;

	margin-top: 57px;
}

.recommended-wrapper {
	position: relative;

	padding-top:105px;

	text-align: center;

	width: 400px;
}

.recommended-wrapper::before {
	content:"";
  
  position: absolute;

  top:0;
}

.recommended-wrapper:nth-child(1)::before {
	background-image: url(../img/icon-1.svg);

	width: 75px;
	height: 72px;

	left:160px;
}

.recommended-wrapper:nth-child(2)::before {
	background-image: url(../img/icon-3.svg);

	width: 74px;
	height: 70px;

	left:162px;
}

.recommended-wrapper:nth-child(3)::before {
	background-image: url(../img/icon-2.svg);

	width: 64px;
	height: 76px;

	left:168px;
}

.recommended-content {
	margin:0;
	padding:0;
}

.reason.second {
	flex-direction: row-reverse;

	margin-top:65px;
}

.reason h2,
.recommended-wrapper h2 {
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
}

.reason-list {
	display: flex;

	color: #000000;
}

.reason-list p {
	padding-left: 70px;
	padding-right: 70px;
}

.reason-content-item:nth-child(2) p{
	padding-left: 60px;
	padding-right: 60px;
} 

.reason-content-item {
	text-align:center;
	padding-top:45px;
	padding-bottom: 55px;

	width:400px;

	background-color: #eeeeee;
}

.reason-content-item h2 {
	margin:0;
	margin-bottom: 14px;
	padding-left: 130px;
	padding-right: 130px;
}

.reason-content-item p {
	margin:0;
	margin-top: 14px;
}

.search-hotel {
	padding-top: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}

.search-hotel h3{
	margin:0;
	margin-bottom: 22px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.search-hotel p {
	margin:0;

	color: #333333;

  line-height: 24px;
}

.search-hotel-info {
	padding-left: 313px;
	padding-right: 313px;
}


.search-hotel a {
	font-size: 21px;
	font-weight: 700;

	color: #ffffff;
}

.search-hotel-btn-wrapper {
	position:relative;

	margin: 0 auto;
	margin-top:50px;

	box-sizing: border-box;

	max-width: 570px;

	background-color: #766357;
}

.search-hotel-btn {
    font-family:"PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;

    text-transform: uppercase;

    color:#ffffff;

    border:0 none;

    background-color: #766357;

	  padding-left: 140px;
    padding-right: 140px;
    padding-top: 29px;
    padding-bottom: 31px;
}

.search-hotel-btn:hover {
	background-color: #604e43;
}

.search-hotel-btn:active {
	background-color: #503e33;

	color:#857871;
}

.chose-date {
	font: inherit;
	text-transform: uppercase;

	box-sizing: border-box;

	width: 345px;

	margin:0;
	padding:0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 12px;

	background-color: #f2f2f2;

	border:0 none;

	outline: none;

}
.chose-date:hover {
	background-color: #ebebeb;
}

.chose-date:focus {
	background-color: #ffffff;
	
	box-shadow: inset 0 0 0 2px #e5e5e5;
}

.chose-wrapper {
	display: flex;
}

.calendar-btn {
	position: absolute;

	width:30px;
	height: 38px;

	border: 0 none;
	
	top:0;
	bottom:0;
	right:0;
	margin:0;
	padding: 0;
	padding-right: 10px;

	background-color: transparent;

	cursor: pointer;
}

.calendar-icon {
	fill: #cacaca;
}

.calendar-icon:hover {
	fill: #000000;
}

.calendar-icon:active {
	fill: #81b3d2;
}

.chose-wrapper:nth-child(1) {
	margin-top: 55px;
}

.chose-wrapper:nth-child(2) {
	margin-top: 29px;
}

.search-hotel-popup-wrapper {
	position: absolute;
	left:0;
	right:0;

	z-index: 1;

	max-width: 570px;
	display: none;

	margin: 0 auto;

	font-weight: 700;
}

.show {
	max-width: 570px;
	display: block;

	margin: 0 auto;

	font-weight: 700;
}

.search-hotel-popup {
	text-align: start;

	display: flex;
	padding-left: 55px;
	padding-right: 55px;

	background-color: #ffffff;

	flex-direction: column;

	z-index:2;
}

.search-hotel-popup-wrapper.show {
	animation: popupshow 0.6s forwards;

	z-index:2;
}

@keyframes popupshow  {
  0% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.search-hotel-popup label {
	align-self: center;
}

.search-hotel-popup input {
	font-weight: 700;
}

.chose-date-wrapper {
	position: relative;
}

.search-hotel-popup label {
	width:115px;
}

.increase {
	border:0 none;
	
	width:38px;
	height: 38px;

	position: absolute;

	left:0;
	top:0;
	bottom:0;

	background-color: #f2f2f2;
	color:#a9a9a9;

	cursor: pointer;

}

.decrease {
	border:0 none;
	
	width:38px;
	height: 38px;

	position: absolute;

	right:0;
	top:0;
	bottom:0;

	background-color: #f2f2f2;
	color:#a9a9a9;

	cursor: pointer;
}

.increase:hover,
.decrease:hover {
	color: #000000;
} 

.increase:active,
.decrease:active {
	color: #81b3d2;
} 

.chose-people-wrapper {
	margin-top: 30px;

	display: flex;
}

.chose-number-wrapper {
	display: flex;

	position: relative;
}

.chose-number-wrapper input {
	padding-top: 14px;
	padding-bottom: 14px;

	box-sizing: border-box;

	height: 38px;
}

.chose-number {
	text-align: center;

	margin:0;
	padding:0;

	border: 0 none;

	background-color: #f2f2f2;
	max-width: 115px;
}

.search-btn {
	background-color: #81b3d2;

	border: 0 none;
	
	margin-top: 55px;
	margin-bottom: 55px;
	padding-top: 14px;
	padding-bottom: 20px;

	font-size: 21px;
	text-transform: uppercase;

	color:#ffffff;

	font-weight: 700;
}

.search-btn:hover {
	background-color: #669ec0;
}

.search-btn:active {
	background-color: #5496bd;

	color: #88b6d1;
}

.chose-people-wrapper label:nth-of-type(2) {
	box-sizing: border-box;
	text-align: end;

	padding-right: 25px;
}

.footer {
	display: flex;
	align-items: center;

	padding:35px 72px 42px 72px;
}

.copyright {
	width: 328px;

	display: flex;
	box-sizing: border-box;
	align-items: center;

	padding-left: 105px;
}

.copyright span {
	padding-right: 6px;
}

.hashtag-wrapper {
	box-sizing: border-box;
	padding-left: 60px;

	width:328px;
}

.hashtag {
	font-size: 21px;
	font-weight: 700;

	color: #000000;
}

.social-btn-list {
	width:400px;

	margin:0;
	padding:0;

	display: flex;
	justify-content: center;

	list-style: none;
}

.social-btn-item {
	margin-left: 6px;

	background-color: #81b3d2;
}

.social-btn {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

	width: 46px;
	height: 50px;
}

.social-btn.twitter::before {
	position:absolute;

	width: 17px;
	height: 15px;

	content: "";

	background-image: url(../img/twitter.svg)
}

.social-btn.twitter:active::before {
	opacity: .3;
}

.social-btn.facebook::before {
	position:absolute;

	width: 12px;
	height: 22px;

	content: "";

	background-image: url(../img/facebook.svg)
}

.social-btn.facebook:active::before {
	opacity: .3;
}

.social-btn.youtube::before {
	position:absolute;

	width: 20px;
	height: 16px;

	content: "";

	background-image: url(../img/youtube.svg)
}

.social-btn.youtube:active::before {
	opacity: .3;
}


.social-btn-item:hover {
	background-color: #669ec0;
}

.social-btn-item:active {
	background-color: #5496bd;
}

.social-icon {
	fill:#ffffff;
}

.map {
	position: relative;

	z-index: 1;
}

.map-iframe {
	border: 0px;
}

.map-static {
	  position: absolute;
    top: 0;
    left: 50%;

    transform: translateX(-600px);
    max-width: inherit;

}

.map-iframe {
	position: relative;
}

.copyright-logo {
	width: 115px;
	height: 41px;
}

.htmlacademy {
	fill: #000000;
}

.htmlacademy:hover {
	fill: #81b3d2;
}

.htmlacademy:active {
	fill: #bdbbbc;
}


footer.index {
	position: absolute;
	z-index: 1;

	background-color: #ffffff;

	opacity: .9;

	bottom:0;
}

/* Стилизация каталога */
.filters {
	background-image: url(../img/filter-Background-full.jpg);
	background-size: 100% auto;
	background-position: center;
	background-color: #3d4e57;

	padding-top: 28px;
	padding-bottom: 30px;
}

.filter {
	display: flex;

}

.filter fieldset {
	border: 0 none;

	margin:0;
	padding:0;
}

.filter-wrapper-first {
	padding-left: 73px;

	min-width: 240px;
}

.filter-wrapper-second {
	box-sizing: border-box;

	padding-left:15px;

	min-width: 240px;
}

.filter-wrapper-first ul,
.filter-wrapper-second ul {
	margin:0;
	padding:0;
}

.filter legend {
	margin-bottom: 8px;

	font-size: 16px;
	font-weight: 700;

	color: #ffffff;
}

.filter ul {
	list-style: none;

	margin-top:22px;
}

.filter-option label {
	color: white;
}c

.filter-option {
	position: relative;
}

.filter-checkbox {
	position: relative;

	padding-left: 40px;

	user-select: none;
}

.filter-checkbox::before {
	content: "";

	position: absolute;
	left:0;
	bottom:1px;

	width:23px;
	height:23px;

	background-image: url(../img/checkbox-off.svg);
}

.filter-input:checked ~ .filter-checkbox::before {
	content: "";

	position: absolute;
	left:0;
	bottom: 1px;

	width:27px;
	height:23px;

	background-image: url(../img/checkbox-on.svg);
}

.filter-option:nth-child(2),
.filter-option:nth-child(3) {
	margin-top: 23px;
}

.filter-input:disabled + .filter-checkbox::before {
	content: "";

	position: absolute;
	left:0;
	bottom: 1px;

	width:23px;
	height:23px;

	background-image: url(../img/disable-checkbox-off.svg);
}


.filter-input:checked:disabled + .filter-checkbox::before {
	content: "";

	position: absolute;
	left:0;
	bottom: 1px;

	width:27px;
	height:23px;

	background-image: url(../img/disable-checkbox-on.svg);
}

.multiply-filter {
	margin:0;
	padding:0;

	border: 0 none;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 15px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;

  color: #ffffff;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background: #1c4f80;
}

.toggle.toggle-min {
  left: 0;
}

.toggle.toggle-max {
  left: 80%;
}

.toggle.toggle-min:hover,
.toggle.toggle-max:hover {
	transform: scale(1.1,1.1);

}

.range-filter {
  width: 330px;

  box-sizing: border-box;

  margin-left:auto;
  margin-right: 73px;
  padding-left:12px;

  color: #ffffff;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, .3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.toggle {
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.show-btn {
	display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.show-btn:hover {
	color: #000000;

  background: #ffffff;
}

.sort-wrapper {
  margin-top: 29px;
  margin-bottom: 29px;
  margin-left: 73px;
	margin-right: 73px;

	display: flex;
	position: relative;
	align-items: center;

}

.sort-wrapper h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

	margin:0;
	padding-right: 50px;
}

.sort-phrase {
	padding-right: 40px;
}

.catalog h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.catalog-sorting,
.sort-btn {
	font-size: 12px;
	line-height: 18px;
}

.sort-btn-list {
	margin:0;
	padding:0;

	display: flex;

	list-style: none;
}

.sort-btn {
	color: #cacaca;

	border-bottom: 1px dotted #81b3d2;
}

.sort-btn:hover {
	color: #81b3d2;
}

.sort-btn:active {
	color: #000000;

	border-color: transparent;
}

.sort-btn-item:nth-child(1) {
	padding-right: 30px;
}

.sort-btn-item:nth-child(2) {
	padding-right: 32px;
}

.sort-btn.active{
	color: #81b3d2;

	border-bottom: none;
}

.sort-triangle-list {
	position: absolute;

	display: flex;
	
	right:0;
	top:-5px;

	list-style: none;
}

.sort-triangle-up {
	margin-right:12px;

	position: relative;
	display: block;

	width:11px;
	height: 10px;
}


.sort-triangle-down {
	position: relative;
	display: block;

	width:11px;
	height: 10px;
}


.sort-triangle-up::before {
	content:"";
	position: absolute;

	display: block;

	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 10px solid #cacaca;
}

.sort-triangle-down::before {
	content:"";
	position: absolute;


	display: block;

	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 10px solid #81b3d2;

}

.sort-triangle-up:hover::before  {
	content:"";
	position: absolute;

	display: block;

	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 10px solid #000000;
}

.sort-triangle-up:active::before  {
	content:"";
	position: absolute;

	display: block;

	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 10px solid #81b3d2;
}

.catalog-list {
	margin:0;
	padding:0;

	list-style: none;
}

.catalog-item {
	border-bottom: 1px solid #e5e5e5;
	
	padding-top: 29px;
	padding-bottom: 29px;
	padding-left: 73px;
	padding-right: 73px;
}

.catalog-item:nth-child(1) {
	border-top: 1px solid #e5e5e5;
}

.catalog-list article {
	display: flex;
}

.catalog-list h1 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.catalog-item-name {
	color: #000000;
}

.catalog-item-name:hover {
	color: #81b3d2;
}

.catalog-item-name:active {
	color: #b2b2b2;
}

.catalog-item-info {
	margin-left: 30px;
}

.catalog-item-info h1 {
	margin:0;
	padding:0;
}

.catalog-item-img {
	line-height: 0;
	font-size:0;

	padding-top:3px;
}

.catalog-item-info span {
	color: #333333;
}

.catalog-item-info-wrapper {
	display: flex;

	padding-top: 7px;
}

.catalog-item-phrase-price {
		margin-left: 6px;
}
.catalog-item-phrase-housing {
	min-width: 110px;
}

.catalog-btn-info-wrapper {
	display: flex;

	margin-top: 12px;
}

.detail-btn,
.reserve-btn {
	font-weight: 700;

	color: #ffffff;

	padding-right: 18px;
	padding-left: 18px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.detail-btn {
	background-color: #81b3d2;
}

.detail-btn:hover {
	background-color: #669ec0;
}

.detail-btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.reserve-btn {
	margin-left: 6px;

	background-color: #766357;
}

.reserve-btn:hover {
	background-color: #604e43;
}

.reserve-btn:active {
	background-color: #503e33;

	color: #857871;
}

.catalog-item-raiting {
	position: relative;

	margin-top: auto;
	margin-left: auto;
}


.catalog-item-raiting-star {
	display: flex;
	flex-direction: row-reverse;

	margin-bottom: 55px;
}

.raiting-star {
	width:18px;
	height: 17px;

	margin-right: 5px;

	font-size: 0;

	background-image: url(../img/star.svg)

}

.raiting {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 13px;

	background-color: #f2f2f2;

	color: #666666;
}